* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin:auto;
  background: #ecf0ee;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  height: 231px;
  padding: 37px 50px  173px;
  background: linear-gradient(180deg, rgba(5, 21, 30, 0.73) 0%, rgba(56, 65, 70, 0.73) 100%), url(../img/header-bg.jpg) no-repeat center / cover;
  border-radius: 0px 0px 64px 64px;
  color: #ffffff;
}

.hello {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.hello-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.user {
  margin-top: -48px;
  padding-bottom: 21px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.user-avatar {
  margin-top: -35px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
}

.user-name {
  margin-top: 6px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.user-decription {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666565;
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 30px 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  margin: auto;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 17px;
}
 
.button.vk {
  background: #4c75a3;
}

.button.tg {
  background: #0088cc;
}

.button.yt {
  background: #ff0000;
}

.button.git {
  background: #000000;
  text-decoration: none;
}

.button-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color:#ffffff;
}

.button.resume {
  background: #d6001c;
  text-decoration: none;
}
